<footer class="footer" data-module="footer-elm" data-container="footer">
    <div class="sponsor">
        <div class="sponsor__primary">
            <ul>
                        <li>
                            <a href="/en/Partners/Global/Chevrolet" target="" data-an-track="true" data-track-type="link" data-track-text="Chevrolet">
                                    <img class="sponsor__light" onerror="this.className='no-img'" data-src="//assets-qa.herculesmanutd.com/AssetPicker/images/0/0/10/113/684420/Chevrolet-DarkBG1522835436502.png" alt="Chevrolet" title="Chevrolet">
                                <span class=" screenreader">External Website</span>
                            </a>
                        </li>
                        <li>
                            <a href="/en/Partners/Global/adidas" target="" data-an-track="true" data-track-type="link" data-track-text="Adidas">
                                    <img class="sponsor__light" onerror="this.className='no-img'" data-src="//assets-qa.herculesmanutd.com/AssetPicker/images/0/0/10/113/684410/Adidas-DarkBG1522834856111.png" alt="Adidas" title="Adidas">
                                <span class=" screenreader">External Website</span>
                            </a>
                        </li>
                        <li>
                            <a href="/en/Partners/Global/Aon" target="" data-an-track="true" data-track-type="link" data-track-text="Aon">
                                    <img class="sponsor__light" onerror="this.className='no-img'" data-src="//assets-qa.herculesmanutd.com/AssetPicker/images/0/0/10/113/684414/Aon-DarkBG1522835169596.png" alt="Aon" title="Aon">
                                <span class=" screenreader">External Website</span>
                            </a>
                        </li>
            </ul>
        </div>

        <div class="sponsor__secondary">
            <ul>
                        <li>
                            <a href="/en/Partners/Global/20th-Century-Fox" target="" data-an-track="true" data-track-type="link" data-track-text="20th Century Fox">
                                    <img class="sponsor__light" onerror="this.className='no-img'" data-src="//assets-qa.herculesmanutd.com/AssetPicker/images/0/0/4/113/291099/20-th-century-fox-logo@3x_light1515685217422.png" alt="20th Century Fox" title="20th Century Fox">
                                <span class=" screenreader">External Website</span>
                            </a>
                        </li>
                        <li>
                            <a href="/en/Partners/Global/Aeroflot" target="" data-an-track="true" data-track-type="link" data-track-text="Aeroflot">
                                    <img class="sponsor__light" onerror="this.className='no-img'" data-src="//assets-qa.herculesmanutd.com/AssetPicker/images/0/0/7/70/476863/Aeroflot-DarkBG1515684660950.png" alt="Aeroflot" title="Aeroflot">
                                <span class=" screenreader">External Website</span>
                            </a>
                        </li>
                        <li>
                            <a href="/en/Partners/Global/Aladdin-Street" target="" data-an-track="true" data-track-type="link" data-track-text="Aladdin Street">
                                    <img class="sponsor__light" onerror="this.className='no-img'" data-src="//assets-qa.herculesmanutd.com/AssetPicker/images/0/0/10/113/684412/AladinStreet-DarkBG1522835036728.png" alt="Aladdin Street" title="Aladdin Street">
                                <span class=" screenreader">External Website</span>
                            </a>
                        </li>
                        <li>
                            <a href="/en/Partners/Global/Apollo-Tyres" target="" data-an-track="true" data-track-type="link" data-track-text="Apollo Tyres">
                                    <img class="sponsor__light" onerror="this.className='no-img'" data-src="//assets-qa.herculesmanutd.com/AssetPicker/images/0/0/10/113/684416/Apollo-DarkBG1522835309571.png" alt="Apollo Tyres" title="Apollo Tyres">
                                <span class=" screenreader">External Website</span>
                            </a>
                        </li>
                        <li>
                            <a href="/en/Partners/Global/Casillero-del-Diablo" target="" data-an-track="true" data-track-type="link" data-track-text="Casillero del Diablo">
                                    <img class="sponsor__light" onerror="this.className='no-img'" data-src="//assets-qa.herculesmanutd.com/AssetPicker/images/0/0/10/113/684418/CDD-DarkBG1522835935888.png" alt="Casillero del Diablo" title="Casillero del Diablo">
                                <span class=" screenreader">External Website</span>
                            </a>
                        </li>
                        <li>
                            <a href="/en/Partners/Global/Columbia" target="" data-an-track="true" data-track-type="link" data-track-text="Columbia">
                                    <img class="sponsor__light" onerror="this.className='no-img'" data-src="//assets-qa.herculesmanutd.com/AssetPicker/images/0/0/10/113/684422/columbia-DarkBG1522835554484.png" alt="Columbia" title="Columbia">
                                <span class=" screenreader">External Website</span>
                            </a>
                        </li>
                        <li>
                            <a href="/en/Partners/Global/Deezer" target="" data-an-track="true" data-track-type="link" data-track-text="Deezer">
                                    <img class="sponsor__light" onerror="this.className='no-img'" data-src="//assets-qa.herculesmanutd.com/AssetPicker/images/0/0/10/113/684424/Deezer-DarkBG1522835677426.png" alt="Deezer" title="Deezer">
                                <span class=" screenreader">External Website</span>
                            </a>
                        </li>
                        <li>
                            <a href="/en/Partners/Global/DHL" target="" data-an-track="true" data-track-type="link" data-track-text="DHL">
                                    <img class="sponsor__light" onerror="this.className='no-img'" data-src="//assets-qa.herculesmanutd.com/AssetPicker/images/0/0/10/113/684426/DHL-DarkBG1522835793363.png" alt="DHL" title="DHL">
                                <span class=" screenreader">External Website</span>
                            </a>
                        </li>
                        <li>
                            <a href="/en/Partners/Global/EA-Sports" target="" data-an-track="true" data-track-type="link" data-track-text="EA SPORTS">
                                    <img class="sponsor__light" onerror="this.className='no-img'" data-src="//assets-qa.herculesmanutd.com/AssetPicker/images/0/0/10/113/684428/EASports-DarkBG1522839116485.png" alt="EA SPORTS" title="EA SPORTS">
                                <span class=" screenreader">External Website</span>
                            </a>
                        </li>
                        <li>
                            <a href="/en/Partners/Global/Gulf-Oil-International" target="" data-an-track="true" data-track-type="link" data-track-text="Gulf Oil International">
                                    <img class="sponsor__light" onerror="this.className='no-img'" data-src="//assets-qa.herculesmanutd.com/AssetPicker/images/0/0/4/113/291129/gulf-logo@3x_light1515687299068.png" alt="Gulf Oil International" title="Gulf Oil International">
                                <span class=" screenreader">External Website</span>
                            </a>
                        </li>
                        <li>
                            <a href="/en/Partners/Global/HCL" target="" data-an-track="true" data-track-type="link" data-track-text="HCL">
                                    <img class="sponsor__light" onerror="this.className='no-img'" data-src="//assets-qa.herculesmanutd.com/AssetPicker/images/0/0/10/113/684429/HCL-DarkBG1522839236353.png" alt="HCL" title="HCL">
                                <span class=" screenreader">External Website</span>
                            </a>
                        </li>
                        <li>
                            <a href="/en/Partners/Global/Mlily" target="" data-an-track="true" data-track-type="link" data-track-text="Mlily">
                                    <img class="sponsor__light" onerror="this.className='no-img'" data-src="//assets-qa.herculesmanutd.com/AssetPicker/images/0/0/4/113/291138/Mlily1515687539245.png" alt="Mlily" title="Mlily">
                                <span class=" screenreader">External Website</span>
                            </a>
                        </li>
                        <li>
                            <a href="/en/Partners/Global/New-Era" target="" data-an-track="true" data-track-type="link" data-track-text="New Era">
                                    <img class="sponsor__light" onerror="this.className='no-img'" data-src="//assets-qa.herculesmanutd.com/AssetPicker/images/0/0/7/70/476874/NewEra-DarkBG1515687747666.png" alt="New Era" title="New Era">
                                <span class=" screenreader">External Website</span>
                            </a>
                        </li>
                        <li>
                            <a href="/en/Partners/Global/Swissquote" target="" data-an-track="true" data-track-type="link" data-track-text="Swissquote">
                                    <img class="sponsor__light" onerror="this.className='no-img'" data-src="//assets-qa.herculesmanutd.com/AssetPicker/images/0/0/10/113/684434/Swissquote-DarkBG1522839415996.png" alt="Swissquote" title="Swissquote">
                                <span class=" screenreader">External Website</span>
                            </a>
                        </li>
                        <li>
                            <a href="/en/Partners/Global/Tag-Heuer" target="" data-an-track="true" data-track-type="link" data-track-text="Tag Heuer">
                                    <img class="sponsor__light" onerror="this.className='no-img'" data-src="//assets-qa.herculesmanutd.com/AssetPicker/images/0/0/10/113/684436/TAG-DarkBG1522839502537.png" alt="Tag Heuer" title="Tag Heuer">
                                <span class=" screenreader">External Website</span>
                            </a>
                        </li>
                        <li>
                            <a href="/en/Partners/Global/Uber" target="" data-an-track="true" data-track-type="link" data-track-text="Uber">
                                    <img class="sponsor__light" onerror="this.className='no-img'" data-src="//assets-qa.herculesmanutd.com/AssetPicker/images/0/0/7/70/476875/Uber-DarkBG1515688189682.png" alt="Uber" title="Uber">
                                <span class=" screenreader">External Website</span>
                            </a>
                        </li>
                        <li>
                            <a href="/en/Partners/Global/Yanmar" target="" data-an-track="true" data-track-type="link" data-track-text="Yanmar">
                                    <img class="sponsor__light" onerror="this.className='no-img'" data-src="//assets-qa.herculesmanutd.com/AssetPicker/images/0/0/10/113/684438/Yanmar-DarkBG1522839575084.png" alt="Yanmar" title="Yanmar">
                                <span class=" screenreader">External Website</span>
                            </a>
                        </li>
            </ul>
        </div>
    </div>
    <div class="footer__social-links">
        <div class="social-icons">
            <div class="social-button" id="footerloginRegisterLink">
                            <div class="black-btn-skew">
                                <a href="javascript:void(0)" data-an-track="true" data-track-type="link" data-track-text="Log In"
                                   onclick="showLogin();">
                                    <span>Log In</span>
                                    <span class="screenreader">Open overlay</span>
                                </a>
                            </div>
                            <div class="red-btn-skew">
                                <a href="javascript:void(0)" data-an-track="true" data-track-type="link" data-track-text="Sign Up"
                                   onclick="showRegister();">
                                    <span>Sign Up</span>
                                    <span class="screenreader">Open overlay</span>
                                </a>
                            </div>
            </div>

            <ul>
                        <li>
                            <a href="https://www.youtube.com/manutd" data-an-track="true" data-track-type="link" data-track-text="https://www.youtube.com/manutd">
                                <i class="icon-youtube"></i>
                                <span class="screenreader">Follow us on YouTube External Website</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/manchesterunited " data-an-track="true" data-track-type="link" data-track-text="https://www.facebook.com/manchesterunited ">
                                <i class="icon-fb"></i>
                                <span class="screenreader">Follow us on Facebook External Website</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/ManUtd" data-an-track="true" data-track-type="link" data-track-text="https://twitter.com/ManUtd">
                                <i class="icon-twitter-white"></i>
                                <span class="screenreader">Follow us on Via Twitter External Website</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/+ManUtd" data-an-track="true" data-track-type="link" data-track-text="https://plus.google.com/+ManUtd">
                                <i class="icon-gplus"></i>
                                <span class="screenreader">Follow us on Google External Website</span>
                            </a>
                        </li>
                        <li>
                            <a href="http://instagram.com/manchesterunited " data-an-track="true" data-track-type="link" data-track-text="http://instagram.com/manchesterunited ">
                                <i class="icon-instagram"></i>
                                <span class="screenreader">Follow us on Instagram External Website</span>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.pinterest.com/manutd/" data-an-track="true" data-track-type="link" data-track-text="http://www.pinterest.com/manutd/">
                                <i class="icon-pinterest"></i>
                                <span class="screenreader">Follow us on Pintrest External Website</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://try.deezer.com/manchesterunited/" data-an-track="true" data-track-type="link" data-track-text="https://try.deezer.com/manchesterunited/">
                                <i class="icon-deezer"></i>
                                <span class="screenreader">Follow us on Deezericon External Website</span>
                            </a>
                        </li>
            </ul>
        </div>
    </div>

    <div class="footer__menu">
        <div class="footer__menu__links">
            <ul>
                        <li><a href="/en/Help/Accessibility" data-an-track="true" data-track-type="link" target="" data-track-text="Accessibility">Accessibility</a></li>
                        <li><a href="https://beta.manutd.com/en/help/club-contacts?int_source=manutd.com&amp;int_medium=menu&amp;int_campaign=generic&amp;int_content=more_help_contactus" data-an-track="true" data-track-type="link" target="" data-track-text="Contact Us">Contact Us</a></li>
                        <li><a href="/en/Help/Privacy-Policy" data-an-track="true" data-track-type="link" target="" data-track-text="Privacy">Privacy</a></li>
                        <li><a href="/en/Help/Cookie-Policy" data-an-track="true" data-track-type="link" target="" data-track-text="Cookies">Cookies</a></li>
                        <li><a href="/en/Help/Website-Terms-of-Use" data-an-track="true" data-track-type="link" target="" data-track-text="Terms Of Use">Terms Of Use</a></li>
                        <li><a href="/en/Help/Terms-And-Conditions-Of-Sale" data-an-track="true" data-track-type="link" target="" data-track-text="Terms &amp; Conditions of Sale">Terms &amp; Conditions of Sale</a></li>
                        <li><a href="/en/Help/Anti-slavery-statement" data-an-track="true" data-track-type="link" target="" data-track-text="Anti-slavery">Anti-slavery</a></li>
        </ul>

    </div>
    <div class="footer__menu__copyright">
        <ul>
            <li>
                &#169;2018 Manchester United Ltd
            </li>
        </ul>
    </div>
</div>
</footer>
