// Icons from directory ""
%emoji {
  background-repeat: no-repeat
}
.emoji-applause-lite,
.emoji-applause-lite\:regular {
  @extend %emoji;
  background-image: url('../../assets/images/svg/emoji-lite.svg');
  background-position: 0 0;
  width: 29px;
  height: 28px;
}

.emoji-boo-lite,
.emoji-boo-lite\:regular {
  @extend %emoji;
  background-image: url('../../assets/images/svg/emoji-lite.svg');
  background-position: 0 -28px;
  width: 24px;
  height: 24px;
}

.emoji-chant-lite,
.emoji-chant-lite\:regular {
  @extend %emoji;
  background-image: url('../../assets/images/svg/emoji-lite.svg');
  background-position: 0 -52px;
  width: 33px;
  height: 23px;
}

.emoji-cheer-lite,
.emoji-cheer-lite\:regular {
  @extend %emoji;
  background-image: url('../../assets/images/svg/emoji-lite.svg');
  background-position: 0 -76px;
  width: 39px;
  height: 30px;

}

.emoji-cheerio-lite,
.emoji-cheerio-lite\:regular {
  @extend %emoji;
  background-image: url('../../assets/images/svg/emoji-lite.svg');
  background-position: 0 -106px;
  width: 36px;
  height: 27px;
}

.emoji-disappointed-lite,
.emoji-disappointed-lite\:regular {
  @extend %emoji;
  background-image: url('../../assets/images/svg/emoji-lite.svg');
  background-position: 0 -133px;
  width: 24px;
  height: 24px;
}

.emoji-gloat-lite,
.emoji-gloat-lite\:regular {
  @extend %emoji;
  background-image: url('../../assets/images/svg/emoji-lite.svg');
  background-position: 0 -157px;
  width: 24px;
  height: 24px;
}

.emoji-like-lite,
.emoji-like-lite\:regular {
  @extend %emoji;
  background-image: url('../../assets/images/svg/emoji-lite.svg');
  background-position: 0 -181px;
  width: 24px;
  height: 24px;
}

.emoji-open-mouth-lite,
.emoji-open-mouth-lite\:regular {
  @extend %emoji;
  background-image: url('../../assets/images/svg/emoji-lite.svg');
  background-position: 0 -205px;
  width: 24px;
  height: 24px;
}

.emoji-roar-lite,
.emoji-roar-lite\:regular {
  @extend %emoji;
  background-image: url('../../assets/images/svg/emoji-lite.svg');
  background-position: 0 -229px;
  width: 24px;
  height: 24px;
}

.emoji-stuck-out-tongue-lite,
.emoji-stuck-out-tongue-lite\:regular {
  @extend %emoji;
  background-image: url('../../assets/images/svg/emoji-lite.svg');
  background-position: 0 -253px;
  width: 24px;
  height: 24px;
}

.emoji-whistle-lite,
.emoji-whistle-lite\:regular {
  @extend %emoji;
  background-image: url('../../assets/images/svg/emoji-lite.svg');
  background-position: 0 -277px;
  width: 28px;
  height: 24px;
}

.emoji-wink-lite,
.emoji-wink-lite\:regular {
  @extend %emoji;
  background-image: url('../../assets/images/svg/emoji-lite.svg');
  background-position: 0 -301px;
  width: 24px;
  height: 24px;
}

