// Icons from directory ""
%emoji {
  background-repeat: no-repeat
}
.emoji-applause,
.emoji-applause\:regular {
  @extend %emoji;
  background-image: url('../../assets/images/svg/emoji.svg');
  background-position: 0 0;
  width: 29px;
  height: 28px;
}

.emoji-boo,
.emoji-boo\:regular {
  @extend %emoji;
  background-image: url('../../assets/images/svg/emoji.svg');
  background-position: 0 -28px;
  width: 23px;
  height: 24px;
}

.emoji-chant,
.emoji-chant\:regular {
  @extend %emoji;
  background-image: url('../../assets/images/svg/emoji.svg');
  background-position: 0 -52px;
  width: 33px;
  height: 23px;
}

.emoji-cheer,
.emoji-cheer\:regular {
  @extend %emoji;
  background-image: url('../../assets/images/svg/emoji.svg');
  background-position: 0 -75px;
  width: 39px;
  height: 30px;
}

.emoji-cheerio,
.emoji-cheerio\:regular {
  @extend %emoji;
  background-image: url('../../assets/images/svg/emoji.svg');
  background-position: 0 -105px;
  width: 36px;
  height: 26px;
}

.emoji-disappointed,
.emoji-disappointed\:regular {
  @extend %emoji;
  background-image: url('../../assets/images/svg/emoji.svg');
  background-position: 0 -131px;
  width: 23px;
  height: 24px;
}

.emoji-gloat,
.emoji-gloat\:regular {
  @extend %emoji;
  background-image: url('../../assets/images/svg/emoji.svg');
  background-position: 0 -155px;
  width: 23px;
  height: 24px;
}

.emoji-like,
.emoji-like\:regular {
  @extend %emoji;
  background-image: url('../../assets/images/svg/emoji.svg');
  background-position: 0 -179px;
  width: 23px;
  height: 24px;
}

.emoji-open-mouth,
.emoji-open-mouth\:regular {
  @extend %emoji;
  background-image: url('../../assets/images/svg/emoji.svg');
  background-position: 0 -203px;
  width: 23px;
  height: 24px;
}

.emoji-roar,
.emoji-roar\:regular {
  @extend %emoji;
  background-image: url('../../assets/images/svg/emoji.svg');
  background-position: 0 -227px;
  width: 23px;
  height: 24px;
}

.emoji-stuck-out-tongue,
.emoji-stuck-out-tongue\:regular {
  @extend %emoji;
  background-image: url('../../assets/images/svg/emoji.svg');
  background-position: 0 -251px;
  width: 23px;
  height: 24px;
}

.emoji-whistle,
.emoji-whistle\:regular {
  @extend %emoji;
  background-image: url('../../assets/images/svg/emoji.svg');
  background-position: 0 -275px;
  width: 28px;
  height: 25px;
}

.emoji-winking,
.emoji-winking\:regular {
  @extend %emoji;
  background-image: url('../../assets/images/svg/emoji.svg');
  background-position: 0 -300px;
  width: 23px;
  height: 24px;
}


.emoji-applause,
.emoji-applause\:regular {
  background-image: url('../../assets/images/svg/emoji.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 29px;
  height: 28px
}

.emoji-boo,
.emoji-boo\:regular {
  background-image: url('../../assets/images/svg/emoji.svg');
  background-position: 0 -28px;
  background-repeat: no-repeat;
  width: 23px;
  height: 24px
}

.emoji-chant,
.emoji-chant\:regular {
  background-image: url('../../assets/images/svg/emoji.svg');
  background-position: 0 -52px;
  background-repeat: no-repeat;
  width: 33px;
  height: 23px
}

.emoji-cheer,
.emoji-cheer\:regular {
  background-image: url('../../assets/images/svg/emoji.svg');
  background-position: 0 -75px;
  background-repeat: no-repeat;
  width: 39px;
  height: 30px
}

.emoji-cheerio,
.emoji-cheerio\:regular {
  background-image: url('../../assets/images/svg/emoji.svg');
  background-position: 0 -105px;
  background-repeat: no-repeat;
  width: 36px;
  height: 26px
}

.emoji-disappointed,
.emoji-disappointed\:regular {
  background-image: url('../../assets/images/svg/emoji.svg');
  background-position: 0 -131px;
  background-repeat: no-repeat;
  width: 23px;
  height: 24px
}

.emoji-gloat,
.emoji-gloat\:regular {
  background-image: url('../../assets/images/svg/emoji.svg');
  background-position: 0 -155px;
  background-repeat: no-repeat;
  width: 23px;
  height: 24px
}

.emoji-like,
.emoji-like\:regular {
  background-image: url('../../assets/images/svg/emoji.svg');
  background-position: 0 -179px;
  background-repeat: no-repeat;
  width: 23px;
  height: 24px
}

.emoji-open-mouth,
.emoji-open-mouth\:regular {
  background-image: url('../../assets/images/svg/emoji.svg');
  background-position: 0 -203px;
  background-repeat: no-repeat;
  width: 23px;
  height: 24px
}

.emoji-roar,
.emoji-roar\:regular {
  background-image: url('../../assets/images/svg/emoji.svg');
  background-position: 0 -227px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px
}

.emoji-stuck-out-tongue,
.emoji-stuck-out-tongue\:regular {
  background-image: url('../../assets/images/svg/emoji.svg');
  background-position: 0 -251px;
  background-repeat: no-repeat;
  width: 23px;
  height: 24px
}

.emoji-whistle,
.emoji-whistle\:regular {
  background-image: url('../../assets/images/svg/emoji.svg');
  background-position: 0 -275px;
  background-repeat: no-repeat;
  width: 28px;
  height: 25px
}

.emoji-winking,
.emoji-winking\:regular {
  background-image: url('../../assets/images/svg/emoji.svg');
  background-position: 0 -300px;
  background-repeat: no-repeat;
  width: 23px;
  height: 24px
}

