//Forms Elements
%form-group {
  @include display(inline-block);

  @include margin(0, 0, 5, 0);

  @include breakpoint($medium) {
    @include margin(0, 0, 10, 0);
  }
}

%label {
  @extend %paragraph;

  @include line-height(18,px);

  @include margin(0, 0, 10, 0);

  @include display(block);

  @extend %full-width;
}

%coreinput {
  @extend %background-white;

  @include border-radius(4);

  @include border(1, solid, $gray-light);

  @include padding(0, 10, 0, 10);

  @include font-size(16);

  @include secondry-regular;

  @include margin(0, 0, 5, 0);

  @extend %full-width;

  @include border-radius(4);

  -webkit-appearance: none;

  &:focus {
    outline: none;
    border-color: #999;
  }
}

%input {
  @extend %coreinput;

  //@extend %background-white;

  @include px-to-rem(height, 38);
}

%select {
  //@extend %coreinput;
  @extend %full-width;

  @include px-to-rem(height, 38);

  @include line-height(38,px);
}

%textarea {
  @extend %coreinput;

  @include px-to-rem(height, 128);

  @include padding(10,10,10,10);
}

%search {
  @extend %coreinput;

  @include px-to-rem(height, 38);

  @include px-to-rem(border-radius, 4);

  background-color: #fff;
}

%checkboxes {
  & input[type="checkbox"] {
    display: none;
  }

  & input[type="checkbox"] + label,
  input[type="checkbox"] + input[type="hidden"] ~ .label {
    @include advance-sprite-image(checkboxunchecked);
  }

  & input[type="checkbox"]:checked + label,
  input[type="checkbox"]:checked + input[type="hidden"] ~ label {
    // @include retina-sprite-background-image(checkbox-selected, $checkout, 0, 0, $checkout-2x);
    @include advance-sprite-image(checkboxchecked);
  }

  label {
    // @include span(full);

    //@extend %sub-text;



    @include font-size(14);

    @include display(inline-block);
  }
}

%radios {
  & input[type="radio"] {
    display: none;
  }

  & input[type="radio"] + label,
  input[type="radio"] + input[type="hidden"] + label {
    @include advance-sprite-image(radiounchecked);
  }

  & input[type="radio"]:checked + label,
  input[type="radio"]:checked + input[type="hidden"] + label {
    @include advance-sprite-image(radiochecked);
  }

  label {
    @include span(full);

    @extend %sub-text;

    @include padding(2, 0, 5, 30);

    @include font-size(14);

    @include display(inline-block);

    @include margin(0, 8, 0, 0);
  }

  span {
    @include pull-left;
  }

  .label.not-selected {}

  .label.selected {}

  .label {
    @extend %paragraph;

    @include padding(2, 0, 5, 30);

    display: inline-block;
    @include margin(0,0,0,0);
  }
}

%corebutton {
  @include text-align(center);
  outline: none;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  @include padding(6,16,6,16);
  @include font-size(16);
  font-weight: 400;
  @include line-height(2);
  @include text-align(center);
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  transition: background-color 0.5s ease;
  box-shadow: none;

  &.disabled {
    background-color: #F2F2F2;
    color: #B3B3B3;
    border: none;
    pointer-events: none;
    cursor: default;
    box-shadow: none;
  }
}

%button1 {
  @extend %txt-uppercase;

  @extend %text-white;

  @extend %corebutton;

  @extend %background-danger;

  @include secondry-regular;

  @include font-size(15);

  @include font-size(15);

  @include px-to-rem(height, 40);

  @include border(1, solid, $danger);

  &:hover {
    @extend %background-danger;

    @include font-size(15);
  }
}

%button2 {
  @extend %txt-uppercase;

  @extend %text-white;

  @extend %corebutton;

  @extend %background-success;

  @include secondry-regular;

  @include font-size(15);

  @include px-to-rem(height, 40);

  @include border(1, solid, $success);

  &:hover {
    @extend %background-success;

    @include font-size(15);
  }
}

%button3 {
  @extend %txt-uppercase;

  @extend %text-white;

  @extend %corebutton;

  @extend %background-warning;

  @include secondry-regular;

  @include font-size(15);

  @include px-to-rem(height, 40);

  @include border(1, solid, $warning);

  &:hover {
    @extend %background-warning;

    @include font-size(15);
  }
}

%button4 {
  @extend %txt-uppercase;

  @extend %text-white;

  @extend %corebutton;

  @extend %background-info;

  @include secondry-regular;

  @include font-size(15);

  @include px-to-rem(height, 40);

  @include border(1, solid, $info);

  &:hover {
    @extend %background-info;

    @include font-size(15);
  }
}

%newsletter {
  @include pull-right;

  @include position(absolute);

  @include padding(0, 20, 0, 20);

  @include border(0, solid, transparent);

  @include background($brand-color);

  @include font-size(16);

  @include quaternary-semibold;

  @include color($white);

  @include text-align(center);

  height: 38px;
  @include right(0);
}

//Error
%error {
  input,
  select,
  .dropdown-wrap .dropdown-value {
    border: 1px solid #990000;

    &:focus {
      border: 1px solid #990000;
    }
  }

  .label {
    @include margin-bottom(0);

    @include breakpoint($large) {
      display: inline-block;
      @include margin-top(26);
    }
  }

  .error-label {
    color: #990000;

    @include secondry-regular;

    @include font-size(14);

    display: block !important;

    a {
      color: inherit;
      text-decoration: underline;
    }

    @include breakpoint($large) {
      @include span(7);
    }


    @include breakpoint($medium) {
      @include span(8);
    }
  }
}

%fieldset {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);

  @include border(15, solid, #cfcfcf);

  @include background($white);
}

figure {
  overflow: hidden;
}
