//Vertical lisiting
%list {
  @include padding(0,0,0,0);
  @include margin(0,0,0,0);

  li {
    @include padding(8, 0, 0, 5);

    @include margin(0,0,0,0);
  }
}

%ul {
  @extend %list;

  li {
    list-style: none;
  }

  li:before {
    //content: "-";
    position: relative;

    @include left(-5);
  }
}

%nested-ul {
  @extend %ul;

  @include padding(0, 0, 0, 10);
}

%ol {
  @extend %list;

  @include margin(0, 0, 0, 20);

  li {
    list-style: decimal;
  }
}

%nested-ol {
  @extend %ol;
}

%navul {
  @extend %list;

  li {
    list-style: none;
    display: inline-block;
  }
}

//Mobile Menu
%mobilenav {
  @include position(fixed);

  @include right(-768);

  @include top(120);

  @include z-index(99);

  @include top(120);
  height: 100%;
}

%overlay {
  @include position(fixed);

  @extend %full-width;

  @include background($black, 0.5);

  @include display(none);

  @include z-index(99);

  height: 100%;
  @include top(120);
}

%menu-smalldevice__icon {
  @include z-index(9999);

  @include display(block);

  @include margin(0, 20, 0, 0);

  @include font-size(36);

  cursor: pointer;
  @include right(0);

  @include color($brand-color);

  @include position(absolute);

  @include pull-right;

  @include breakpoint($medium) {
    @include display(none);
  }
}

//Horizontal Nav
%horizontal-nav {
  @extend %full-width;

  @include margin(0);

  @include padding(0);

  @include pull-left;

  li {
    @include pull-left;

    @include display(inline);

    @include padding(5, 5, 5, 5);

    @include span(2 of 6);

    @include breakpoint($medium) {
      @include span(2 of 12);
    }
  }

  .list {
    @include margin(5, 5, 5, 5);

    @include padding(5, 5, 5, 5);

    @include border(1, solid, $black);

    @include span(2 of 6);

    @include breakpoint($medium) {
      @include span(2 of 12);
    }
  }

  .colorbox {
    @include margin(0);

    @include span(4 of 12 0);

    @include vertical-align;

    @include quaternary-semibold;

    @include color($white);
  }
}

%orderlist {
  @include secondry-regular;

  @extend %secondry-color;

  @extend %nested-ol;

  @include font-size(16);

  @include line-height(20,px);

  li %orderlist {
    @include margin(0, 0, 0, 30);
  }
}

%unorderlist {
  @extend %secondry-color;

  @extend %nested-ul;

  @include secondry-regular;

  @include font-size(16);

  @include line-height(25,px);

  @include margin(0, 0, 0, 0);

  @include padding(0, 0, 0, 0);

  li %orderlist {
    @include margin(0, 0, 0, 40);
  }
}
