.grid-3,
.grid-4,
.grid-6 {
  .mu-item {
    &.quiz {
      figure {
        @include span(6 of 6 0);

        @include percentage-value(height, 100);
      }

      .mu-item__gradient_quiz {
        @include position(absolute);

        @include span(6 of 6 0);

        @include percentage-value(height, 100);

        @include background-color($black, 0.89);
      }

      .mu-item__quiz {
        @include span(6 of 6 0);

        @include position(absolute);

        @include top(80);

        @include percentage-value(width, 80);

        @include margin-left(10,percent);

        @include margin-right(10,percent);

        @include percentage-value(height, 70);
      }

      .mu-item__center-text {
        @include color($white);

        @extend %text-align-center;

        @include secondry-bold;
      }

      .mu-item__messages {
        @include color($white);

        @extend %text-align-center;

        @include secondry-bold;
      }

      .mu-item__button {
        @extend %text-align-center;
      }

      .mu-item__question {
        @include color($white);

        @include pull-left;

        @extend %text-align-center;

        @include secondry-regular;

        @extend %font-italic;

        @include font-size(18);

        @include line-height(1.22);

        @extend %txt-none;

        @include margin(0, 0, 40, 0);

        @include span(6 of 6 0);
      }

      .mu-item__answers {
        @include percentage-value(width, 100);

        @extend %margin-auto;

        @include display(table);
      }

      .mu-item__answers-correct-icon {
        @include font-size(45);
        color: #7ed321;
      }

      .mu-item__answers-wrong-icon {
        @include font-size(45);

        @include color($brand-color);
      }

      .form__element__wrapper {
        @include pull-left;

        @include percentage-value(width, 46);

        @include percentage-value(margin, 2);

        span {
          @include margin(10, 0, 0, 0);
        }

        label {
          // extended from poll partial
          @extend %answer;
        }

        &.selected {
          label {
            @include border(0, solid, $white);

            @include background-color($white);

            h6 {
              @include color($mu-black);

              @extend %font-bold;
            }
          }
        }
      }

      .sponsor-tag {
        @include right(1);
      }

      .disable-all {
        label {
          @include cursor(auto);
        }
      }

      .form__element__wrapper input[type=radio] {
        display: none;
      }

      label {
        h6 {
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

          @include line-height(18,px);

          @include percentage-value(width, 90);

          @include left(50,percent);

          @include top(50,percent);

          @include position(absolute);

          @include margin(0, 0, 0, 0);

          @include z-index(9);

          @include font-size(16);
        }
      }

      .btn {
        @include background-color($mu-red);

        @include px-to-rem(width, 144);

        @include padding(15, 15, 15, 15);

        @include color($white);

        @include cursor(pointer);

        @include border(0, solid, $white);

        @extend %text-align-center;

        @include font-size(16);

        vertical-align: middle;

        &.grey {
          @include margin-top(30);

          @include background-color(#383838);
        }
      }

      .mu-item__quiz-start {
        @extend %text-align-center;

        p {
          @include color($white);

          @include font-size(16);

          @include secondry-bold;

          @include padding(20, 20, 20, 20);

          @include margin(0, 0, 20, 0);
        }
      }

      .mu-item__quiz-over {
        @extend %text-align-center;

        @include percentage-value(width, 100);

        @include percentage-value(height, 100);

        span {
          @include secondry-regular;

          @include line-height(1.38);

          @include font-size(16);

          @include color($white);
        }

        h2 {
          @include color($white);

          @include tertiary-bold;

          @include font-size(36);

          font-weight: bold;

          @include padding-bottom(60);
        }
      }
    }
  }

  .child {
    .mu-item {
      &.quiz {
        &.default {
          figure {
            @include percentage-value(height, 100);
          }
        }
      }
    }
  }
}

.grid-6 {
  .mu-item {
    &.quiz {
      .mu-item__quiz {
        @include percentage-value(width, 50);

        @include margin-left(25,percent);

        @include margin-right(25,percent);
      }
    }
  }

  .child {
    .mu-item {
      &.quiz {
        &.default {
          figure {
            @include percentage-value(height, 100);

            @include percentage-value(width, 100);
          }
        }
      }
    }
  }
}
