body {
    background: $white !important;
}

.main-viewer,
.login-popup-wrap {
    @include display(inline-block);
    width: 100%;
}

.mng-select-box {
    width: 41% !important;
    @include pull-right;
}

.secretary-signIn {
    @include margin-auto(120px);
    width: 100%;
    max-width: 400px;
    @include padding-bottom(20);
    p {
        a {
            @include display(inline-block);
        }
        a.mail-border {
            text-decoration: none;
            border-bottom: 1px solid red!important;
        }
    }
}

.forget-pass-container {
    @include padding-bottom(57);
}

.sign-up-section {
    width: 100%;
    @include display(inline-block);
    @include padding-top(37);
    p {
        font-family: SourceSansProRegular, Helvetica, sans-serif;
        @include font-size(18);
        @include line-height(0.97);
        color: #232323;
        a {
            color: #232323;
            text-decoration: none;
            border-bottom: 1px solid red!important;
        }
    }
}

.fr {
    @include pull-right;
}

.fl {
    @include pull-left;
}

.login-list {
    width: 100%;
    list-style: none;
    @include padding-top(40);
    li {
        @include padding-bottom(12);
        width: 100%;
        @include display(inline-block);
        @include text-align(center);
        &:nth-child(3) {
            @include padding(18, 0, 36, 0);
        }
        img {
            max-width: 100%;
            height: auto;
        }
        a {
            font-family: SourceSansProRegular, Helvetica, sans-serif;
            @include font-size(18);
            @include font-weight(bold);
            @include line-height(0.97);
            color: #232323;
        }
        span {
            font-family: SourceSansProRegular, Helvetica, sans-serif;
            @include font-size(18);
            @include line-height(0.97);
            color: #4e515e;
        }
    }
}

.secretary-login-head {
    font-family: BebasNeueBold, Helvetica, sans-serif;
    @include font-size(40);
    @include font-weight(bold);
    @include line-height(0.97);
    @include color($mu-black);
    @include padding-bottom(20);
}

.login-cross {
    width: 25px;
    height: 25px;
    background: url(../../../assets/secretary/svg/cross.svg) center center no-repeat;
    @include display(block);
    @include position(absolute);
    @include top(24);
    @include right(24);
}

.form-body {
    min-height: 500px;
    @include background-color($white, 1);
    h5 {
        font-family: SourceSansProRegular, Helvetica, sans-serif;
        @include font-size(16);
        @include font-weight(600);
        @include line-height(1.25);
        @include color($mu-black);
        @include margin-bottom(12);
    }
    p {
        font-family: SourceSansProRegular, Helvetica, sans-serif;
        @include font-size(18);
        @include line-height(1.25);
        @include color($mu-black);
        @include margin-top(10);
        a {
            @include color($mu-black);
        }
    }
}

.telephone {
    @include display(block);
    text-decoration: none;
}

.main-form-field {
    @include padding-top(30);
}

.common-input {
    @include margin-top(10);
    @include position(relative);
    input {
        @include border-none;
        @include border-radius(0);
        box-shadow: none;
        @include border-bottom(1, solid, $mu-black);
        @include padding(12, 10, 12, 10);
        @include margin-bottom(0);
    }
}

.red-btn-skew.white-arrow {
    cursor: pointer;
    a {
        width: 176px;
        @include text-align(center);
        span {
            @include display(inline-block);
            @include pull-none;
        }
    }
    .tag-white-arrow-login {
        @include padding(14, 26, 14, 26);
        @include pull-left;
    }
}

.clear-float {
    @include display(inline-block);
    width: 100%;
}

.forget-password {
    font-family: SourceSansProRegular, Helvetica, sans-serif;
    @include font-size(14);
    @include font-weight(normal);
    @include color(#757575);
    text-decoration: none;
    border-bottom: 1px solid red!important;
    @include margin-top(3);
    @include display(inline-block);
    width: auto;
}

.global-input-checkbox,
.global-input-radio-button {
    @include position(absolute);
    @include top(0);
    @include left(0);
    visibility: hidden;
    width: 0;
    height: 0;
}

.global-label {
    @include text-align(right);
    @include margin-bottom(0);
}

.global-label-text {
    font-family: SourceSansProRegular, Helvetica, sans-serif;
    @include font-size(14);
    @include font-weight(400);
    @include text-align(right);
    @include color(#757575);
    vertical-align: middle;
    @include display(inline-block);
    @include padding-right(5);
}

.global-tick-checkbox {
    width: 24px;
    height: 24px;
    @include border(1, solid, $mu-black);
    @include display(inline-block);
    vertical-align: middle;
    background: $white;
    @include position(relative);
    @include cursor(pointer);
    @include border-radius(2);
}

.global-checkbox {
    @include position(relative);
    .global-tick-checkbox {
        &:after {
            @include opacity(0);
            transform: perspective(1px) scale(0);
            backface-visibility: hidden;
            @include transition(all, .2s);
            content: url(/assets/images/svg/check.svg);
            width: 13px;
            height: 13px;
            @include display(block);
            @include position(absolute);
            @include top(2);
            @include left(-3);
        }
    }
    input[type=checkbox]:checked+label {
        .global-tick-checkbox {
            &:after {
                @include opacity(1);
                transform: perspective(1px) scale(1);
                backface-visibility: hidden;
            }
        }
    }
}

.login-btn {
    @include padding-top(20);
}

.global-input-submit {
    width: 129px;
    min-height: 44px;
    @include text-align(center);
    @include border(1, solid, $mu-black);
    font-family: MontserratSemiBold, Helvetica, sans-serif;
    @include font-size(14);
    @include font-weight(400);
    letter-spacing: 0.4px;
    @include color($mu-black);
    @include text-transform(uppercase);
    transform: perspective(1px) skew(-10deg);
    -moz-transform: perspective(1px) skew(-10deg);
    -webkit-transform: perspective(1px)skew(-10deg);
    backface-visibility: hidden;
    background: #fff;
    @include cursor(pointer);
    @include transition(all, .3s);
    &:hover {
        background-color: rgba(184, 183, 185, 0.15);
        box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
    }
}

.input-error {
    font-family: SourceSansProRegular, Helvetica, sans-serif;
    @include font-size(14);
    @include font-weight(normal);
    @include color(#c70101);
    @include position(absolute);
    @include bottom(-18);
    @include display(block);
    @include left(10);
}

.secretary-container {
    .new-touch__swipe {
        height: 79px;
    }
}

.secretary-banner {
    height: 552px;
    @include pull-none(important);
}

.match_application-wrap {
    width: 100%;
    background: #fff;
}

.match_ticket_application {
    @include padding(60, 0, 60, 0);
    @include margin-auto(0);
    width: 100%;
    max-width: 728px;
}

.club-details,
.allocation-ticket,
.table-deadline,
.inner-margin {
    @include padding(0, 12, 0, 13);
}

.club-details {
    .h1,
    h2 {
        font-family: BebasNeueBold, Helvetica, sans-serif;
        @include font-size(48);
        @include font-weight(bold);
        @include line-height(0.88);
        letter-spacing: normal;
        @include color($mu-black);
    }
    .h3 {
        @include font-size(36);
        font-family: BebasNeueBold, Helvetica, sans-serif;
        @include line-height(1.17);
        letter-spacing: normal;
        @include color($mu-black);
    }
    h2.h2access {
        @include font-size(36);
    }
}

.details-sublist {
    @include margin-top(16);
}

.left-details,
.right-details {
    @include display(inline-block);
    font-family: SourceSansProRegular, Helvetica, sans-serif;
    @include font-size(18);
    @include font-weight(normal);
    @include line-height(1);
    @include color($mu-black);
    vertical-align: middle;
    width: 33%;
}

.right-details {
    width: 65%;
    @include font-weight(600);
}

.label-info {
    font-family: SourceSansProRegular, Helvetica, sans-serif;
    @include font-size(14);
    @include font-weight(normal);
    line-height: normal;
    @include color(#6d6d6d);
}

.divider {
    height: 1px;
    border-bottom: 1px solid #e4e4e4;
}

.mg-vr-60 {
    @include margin(60, 0, 60, 0);
}

.mg-vr-30 {
    @include margin(30, 0, 30, 0);
}

.pd-top-15 {
    @include padding-top(15);
}

.mgt-60 {
    @include margin-top(60, important);
}

.deadlines-info {
    font-family: SourceSansProRegular, Helvetica, sans-serif;
    @include font-size(18);
    @include font-weight(normal);
    @include line-height(1.44);
    @include color($mu-black);
    @include display(block);
    @include padding-bottom(15);
}

.allocation-ticket {
    .h2,
    h3 {
        @include color($mu-black);
        font-family: BebasNeueBold, Helvetica, sans-serif;
        @include font-size(32);
        @include line-height(.88);
    }
    p {
        font-family: SourceSansProRegular, Helvetica, sans-serif;
        @include font-size(18);
        @include font-weight(normal);
        @include line-height(1.44);
        @include color($mu-black);
        a {
            @include color($mu-black);
            border-bottom: 1px solid rgba(26, 26, 26, .6);
            text-decoration: none;
            @include line-height(0.9);
            @include display(inline-block);
        }
    }
}



/*responsive-table code start here*/

.responsive-table {
    width: 100%;
    tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        td,
        th {
            vertical-align: top;
            font-family: SourceSansProRegular, Helvetica, sans-serif;
            @include font-size(16);
            @include font-weight(normal);
            @include color($mu-black);
            &:first-child {
                width: 184px;
            }
            &:nth-child(2) {
                width: 46.25%;
            }
            &:nth-child(3) {
                width: 185px;
            }
        }
        td {
            @include padding(20, 7, 20, 7);
            span,
            strong {
                @include display(block);
            }
        }
        th {
            @include padding(0, 7, 9, 7);
        }
    }
    thead,
    tbody {
        display: block;
        width: 100%;
    }
    tbody {
        max-height: 500px;
        overflow: auto;
    }
}

.date-deadline,
.match-team-info,
.on-sale,
.sold-out {
    @include font-weight(600);
}

.match-team-info,
.match-league,
.match-info {
    @include padding-bottom(5);
}

.on-sale {
    @include color(#0f8723);
}

.sold-out {
    @include color(#ea0000);
}

.check-availability {
    font-family: SourceSansProRegular, Helvetica, sans-serif;
    @include font-size(16);
    @include font-weight(600);
    @include line-height(0.81);
    @include color(#5a5a5a);
    @include opacity(0.8);
}

.tmpls-container {
    a {
        &.call-info {
            @include border-none;
            @include font-size(14);
            @include font-weight(normal);
            @include line-height(0.93);
            @include color(#5a5a5a);
            @include padding-left(25);
            @include padding-top(10);
            @include display(block);
            background: url(../../../assets/secretary/svg/shape.svg) 2px 8px no-repeat;
            background-size: 15px 15px;
            @include opacity(0.8);
        }
    }
}



/*code for Specific match page*/

.search-selection-field {
    @include display(inline-block);
    width: 100%;
    .form-group {
        @include display(inline-block);
        width: 280px;
        @include position(relative);
    }
}

.search-box {
    @include margin-right(42);
    input {
        border-bottom: 1px solid rgba(26, 26, 26, 0.15);
        @include padding-left(0);
        @include color($mu-black);
        height: 42px;
        &::-webkit-input-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder,
        &:-moz-placeholder {
            @include color($mu-black);
        }
    }
}

.search-button {
    width: 40px;
    height: 40px;
    background: url(../../../assets/images/icons/search.png) center center no-repeat;
    @include position(absolute);
    @include top(0);
    @include right(0);
    border: none;
    background-size: 12px 12px;
}

.search-selection-field {
    .select-box {
        width: 195px;
    }
}

.select-global-field {
    @include border-none;
    width: 100%;
    border-bottom: 1px solid rgba(26, 26, 26, 0.5);
    font-family: SourceSansProRegular, Helvetica, sans-serif;
    @include font-size(16);
    @include font-weight(normal);
    @include color(#757575);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(/assets/images/icons/triangle-down.png) 96% 17px no-repeat;
    border-radius: 0;
    height: 42px;
    &::-ms-expand {
        display: none;
    }
    // option {
    //     &:first-child {
    //         display: none;
    //     }
    // }
}

.error {
    color: #dd1144;
    position: absolute;
    @include bottom(-20);
    @include left(0);
    @include text-align(left);
    display: block;
    @include margin-bottom(0);
    @include font-size(16);
}

.member-selection-table {
    @include margin-top(18);
}

.table-selection {
    width: 55px;
    @include margin-top(-12);
    border-bottom: 1px solid rgba(26, 26, 26, 0.5);
    @include display(inline-block);
    @include padding-bottom(5);
    position: relative;
    .select-global-field {
        @include padding-left(10);
        background-position: 90% 17px;
        border-bottom: none;
    }
}

.selection-inner-table {
    width: 100%;
    thead {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        @include display(block);
        width: 100%;
        th {
            @include padding(9, 7, 9, 7);
        }
    }
    tbody {
        @include display(block);
        max-height: 340px;
        @include overflow(auto);
        width: 100%;
        -webkit-overflow-scrolling: touch !important;
    }
    thead,
    tbody {
        th,
        td {
            word-break: break-all;
            &:first-child {
                width: 55px;
            }
            &:nth-child(2) {
                width: 80px;
            }
            &:nth-child(3) {
                width: 108px;
            }
            &:nth-child(4) {
                width: 105px;
            }
            &:nth-child(5) {
                width: 220px;
            }
            &:nth-child(6) {
                width: 180px;
            }
        }
    }
    tr {
        box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
        @include display(block);
        width: 100%;
        td {
            @include padding(20, 7, 20, 7);
            vertical-align: top;
            @include line-height(1);
            span,
            strong {
                @include display(block);
                @include line-height(1);
                word-break: break-word;
            }
            strong {
                @include font-weight(600);
                @include padding-top(10);
            }
        }
        td,
        th {
            font-family: SourceSansProRegular, Helvetica, sans-serif;
            @include font-size(16);
            @include font-weight(normal);
            @include color($mu-black);
        }
    }
    .global-label {
        @include text-align(left);
        width: 24px;
        height: 24px;
    }
    .global-checkbox {
        .global-tick-checkbox {
            border: 1px solid rgba(26, 26, 26, 0.7);
            &:after {
                @include left(4);
            }
        }
    }
}

.comment-box-wrap {
    @include margin-top(20);
    @include background-color(#f8f8f8, 1);
    @include padding(13, 16, 13, 16);
    position: relative;
    textarea {
        width: 100%;
        height: 74px;
        font-family: SourceSansProRegular, Helvetica, sans-serif;
        @include font-size(16);
        @include color(#757575);
        @include padding(10, 10, 10, 10);
        border: 1px solid #fff;
        box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
    }
}

.member-selection-submit {
    @include margin-top(33);
    @include display(inline-block);
    width: 100%;
}

.back-home-link {
    background: url(/assets/images/icons/prev-page-arrow.png) 0 18px no-repeat;
    border: none !important;
    @include padding-left(25);
    @include pull-left;
    &:hover {
        background-color: transparent;
        box-shadow: none;
    }
}

.global-red {
    background: url(/assets/images/icons/cta-arrow-white.png) 78% 18px no-repeat #c70101;
    width: 204px;
    @include color($white);
    @include font-size(14);
    @include font-weight(600);
    @include padding-right(70);
    @include border-none;
    &.add-modify-button {
        width: 190px;
        @include padding-right(55);
        background-position: 90% 18px;
    }
    &:hover {
        background-color: #9f0000;
    }
    &.large-red-btn {
        width: 260px;
        @include padding-right(55);
        background-position: 92% 18px;
    }
}

.member-selection-submit {
    .global-red {
        @include pull-right;
    }
}

.match-selected-wrap {
    @include margin-top(16);
}

.match-selected-left {
    border-right: 1px solid rgba(26, 26, 26, 0.2);
    @include padding-right(5);
    width: 73%;
    .details-sublist {
        &:first-child {
            @include margin-top(3);
        }
    }
    .left-details {
        width: 45%;
    }
    .right-details {
        width: 53%;
    }
}

.match-selected-right {
    width: 25%;
    @include padding-left(10);
}

.match-selected-right div,
.match-selected-left,
.match-selected-right {
    @include display(inline-block);
    vertical-align: middle;
}

.team-1,
.team-2 {
    width: 65px;
    img {
        width: 100%;
    }
}

.vs {
    font-family: BebasNeueBold, Helvetica, sans-serif;
    @include font-size(16);
    @include color($mu-black);
    @include font-weight(400);
    @include padding(0, 5, 0, 5);
}



/*Ticket confirmation  page*/

.four-column-table {
    thead,
    tbody {
        th,
        td {
            &:first-child {
                width: 210px;
            }
            &:nth-child(3) {
                width: 210px;
                @include text-align(center);
            }
            &:nth-child(4) {
                width: 160px;
                @include text-align(center);
            }
            &:nth-child(2) {
                width: 110px;
            }
        }
    }
}



/*payement page*/

.payement-form-section {
    @include padding-top(15);
    select {
        @include padding-left(10);
    }
}

.inline-input {
    @include display(inline-block);
    width: 100%;
}

.inline-input,
.inline-select-field {
    fieldset {
        @include display(inline-block);
        width: 48%;
        vertical-align: top;
        &:first-child {
            @include margin-right(4, percent);
        }
    }
}

.inline-select-field {
    display: inline-block;
    width: 100%;
    fieldset {
        &:nth-child(2) {
            @include margin-right(4, percent);
        }
    }
}

.card-valid-end-details {
    .inline-select-field {
        width: 47.6%;
        &:first-child {
            @include margin-right(4, percent);
        }
    }
}

.right-arrow-icon {
    .select-global-field {
        background-position: 98% 17px;
    }
}

.payement-form-section {
    .common-input {
        input {
            border-bottom: 1px solid rgba(26, 26, 26, 0.5);
        }
    }
}

.label-field {
    font-family: SourceSansProRegular, Helvetica, sans-serif;
    @include font-size(16);
    @include font-weight(600);
    @include color($mu-black);
    @include margin-top(15);
}



/*thank you page*/

.thank-you-page {
    @include padding(0, 15, 0, 15);
}

.thank-you-description {
    @include margin-top(30);
    p {
        @include margin-bottom(20);
        a {
            border-bottom: none;
            &.red-link {
                @include color(#c70101);
            }
        }
    }
}

.homepage-link {
    .back-home-link {
        width: 180px;
    }
}



/*View Previous Submissions page*/

.previous-submission-wrap {
    @include padding-top(20);
    .selection-inner-table {
        thead,
        tbody {
            th,
            td {
                &:nth-child(1) {
                    width: 115px;
                }
                &:nth-child(2) {
                    width: 160px;
                }
                &:nth-child(3) {
                    width: 170px;
                }
                &:nth-child(4) {
                    width: 160px;
                }
                &:nth-child(5) {
                    width: 102px;
                    @include text-align(center);
                }
            }
        }
        tr {
            td {
                strong.match-team-info {
                    @include padding-top(0);
                    word-break: break-word;
                }
            }
        }
        tbody {
            max-height: 460px;
        }
    }
}

.applied-match-info {
    @include padding-top(30);
    .selection-inner-table {
        thead,
        tbody {
            th,
            td {
                &:nth-child(1) {
                    width: 270px;
                    word-break: break-word;
                }
                &:nth-child(2) {
                    width: 280px;
                }
                &:nth-child(3) {
                    width: 210px;
                }
            }
        }
        tbody {
            max-height: 216px;
        }
    }
}

.amendments {
    font-style: italic;
}


/*Member management overview page*/

.search-selection-field {
    .form-group {
        &.go-button {
            width: 100px;
            @include margin-top(10);
            @include margin-left(35);
        }
    }
}

.go-button {
    .global-input-submit {
        width: 70px;
        min-height: 38px;
    }
}



/*Member management details page*/

.club-details {
    .supporters-club {
        font-family: BebasNeueBold, Helvetica, sans-serif;
        @include font-size(36);
        @include font-weight(bold);
        @include line-height(1.17);
        @include color($mu-black);
    }
}

.text-title {
    font-family: SourceSansPro, Helvetica, sans-serif;
    @include font-size(18);
    @include font-weight(normal);
    @include line-height(1.44);
    @include color($mu-black);
    @include padding(16, 0, 10, 0);
}

.global-text {
    font-family: SourceSansPro, Helvetica, sans-serif;
    @include font-size(16);
    @include font-weight(normal);
    @include color(#757575);
    vertical-align: middle;
}

.radio-button {
    position: relative;
    .error {
        @include bottom(-10);
    }
}

.radio-btn-wrap {
    @include margin-right(15);
    @include position(relative);
}

.global-input-text,
.radio-btn-wrap {
    @include display(inline-block);
}

.global-tick-radio {
    width: 24px;
    height: 24px;
    @include border(1, solid, $mu-black);
    border-radius: 50%;
    @include display(inline-block);
    @include position(relative);
    vertical-align: middle;
    @include margin-right(5);
    @include cursor(pointer);
    &:after {
        content: "";
        width: 10px;
        height: 10px;
        @include position(absolute);
        @include top(6);
        @include left(6);
        border-radius: 50%;
        @include background-color(#757575);
        @include opacity(0);
        transform: scale(0);
        @include transition(all, .2s);
    }
}

.radio-btn-wrap {
    input[type="radio"]:checked+label {
        .global-tick-radio {
            &:after {
                @include opacity(1);
                transform: scale(1);
            }
        }
    }
}

.members-management-table {
    .selection-inner-table {
        thead,
        tbody {
            th,
            td {
                &:nth-child(1) {
                    width: 230px;
                }
                &:nth-child(2) {
                    width: 240px;
                }
                &:nth-child(3) {
                    width: 215px;
                }
            }
        }
    }
}



/*Ticket Admin Panel page*/

.f-left {
    @include pull-left;
}

.ticket-admin-panel {
    h2 {
        @include font-size(48);
    }
}

.tabing-menu-list {
    @include padding(14, 20, 14, 20);
    background: #f8f8f8;
    @include margin(19, 0, 30, 0);
    li {
        @include display(inline-block);
        @include padding(0, 20);
        a {
            font-family: Montserrat, Helvetica, sans-serif;
            @include font-size(14);
            @include font-weight(normal);
            @include padding(8, 0, 8, 0);
            @include display(inline-block);
            @include line-height(1);
            border-bottom: none;
        }
        &:hover,
        &.active {
            a {
                @include border-bottom(3, solid, #c70101);
            }
        }
    }
}

.home-ticket-allocation {
    h5 {
        @include font-size(18);
        font-family: SourceSansProRegular, Helvetica, sans-serif;
        @include font-weight(600);
    }
}

.ticket-allocation-table {
    @include margin-top(21);
    .selection-inner-table {
        tbody {
            max-height: 640px;
            @include overflow(auto);
        }
    }
}

.pdt-0 {
    @include padding-top(0, important);
}

.ticket-allocation-table {
    .selection-inner-table {
        thead,
        tbody {
            th,
            td {
                &:first-child {
                    width: 300px;
                }
                &:nth-child(2) {
                    width: 70px;
                }
                &:nth-child(3) {
                    width: 185px;
                }
                &:nth-child(4) {
                    width: 130px;
                }
            }
        }
    }
    .ticket-button {
        @include font-size(14);
        font-family: SourceSansProRegular, Helvetica, sans-serif;
        @include font-weight(600);
        border-bottom: none !important;
        font-style: italic;
        @include display(inline-block);
        width: 85px;
        background: url(/assets/images/icons/red-arrow.png) right center no-repeat;
        background-size: 26px auto;
        @include padding-right(26);
    }
}

.clubs-number-info {
    @include display(inline-block);
    width: 100%;
    @include margin-top(36);
    .back-home-link {
        font-family: SourceSansProRegular, Helvetica, sans-serif;
        @include font-size(14);
        @include font-weight(600);
        letter-spacing: 0.9px;
        @include pull-right;
        min-height: 28px;
        background-position: 0 50%;
        width: 95px;
        @include padding(0, 0, 0, 28);
        @include text-align(right);
    }
}

.club-number {
    @include font-size(18);
    @include font-weight(600);
    @include line-height(1.44);
}

.ticket-allocation-input {
    width: 70px;
    height: 30px;
    @include background-color(#fafafa);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px rgba(140, 140, 140, .5);
    @include border-radius(2);
    @include padding(8, 8, 8, 8);
    @include font-size(16);
    @include color($mu-black);
    font-family: SourceSansProRegular, Helvetica, sans-serif;
    @include margin-top(-7);
}

.ticket-allocation-inner-table {
    height: 670px;
    .selection-inner-table {
        thead,
        tbody {
            th,
            td {
                &:nth-child(3) {
                    width: 140px;
                }
            }
        }
        thead th:nth-child(2),
        tbody td:nth-child(2) {
            width: 235px;
            @include text-align(center);
        }
    }
}

#gotohomemanagement{
    width: 180px;
    position: absolute;
    top: 138px;
}

.bottom-clubs-info {
    @include margin-top(28);
    .no-arrow {
        background-image: none;
        width: 152px;
        @include padding(0, 10, 0, 10);
        @include font-size(14);
        font-family: SourceSansProRegular, Helvetica, sans-serif;
    }
}

.apps-label {
    @include display(block);
    @include padding(10, 0, 10, 0);
}

.ticket-application-form {
    @include margin-top(35);
    .inline-input {
        @include margin-top(5);
        fieldset {
            @include margin-bottom(0);
        }
    }
    .comment-box-wrap {
        @include margin-top(30);
        @include margin-bottom(50);
    }
    .select-global-field {
        @include padding-left(10);
    }
}

.ticket-details-table {
    height: auto;
    thead {
        th {
            @include font-weight(600);
        }
    }
    .selection-inner-table {
        thead,
        tbody {
            th,
            td {
                &:first-child,
                &:nth-child(2) {
                    width: 150px;
                }
                &:nth-child(3) {
                    width: 135px;
                }
                &:nth-child(5),
                &:nth-child(4) {
                    @include text-align(center);
                    width: 140px;
                }
            }
        }
        tbody {
            td {
                &:nth-child(5),
                &:nth-child(4) {
                    @include text-align(center);
                }
            }
        }
    }
}

.ticket-total-details {
    @include display(inline-block);
    width: 100%;
    ul {
        @include pull-right;
        width: 300px;
        @include margin-top(20);
        li {
            @include display(inline-block);
            width: 100%;
            strong,
            span {
                width: 49%;
                @include display(inline-block);
                font-family: SourceSansProRegular, Helvetica, sans-serif;
                @include font-size(16);
                @include font-weight(600);
                @include color($mu-black);
                @include padding-bottom(12);
                @include text-align(right);
            }
            span {
                @include font-weight(400);
                @include padding-right(15);
            }
        }
    }
}

.payments-info {
    @include font-size(14);
    @include color(#6d6d6d);
    @include display(block);
    @include text-align(right);
    @include pull-right;
    width: 100%;
    @include margin-top(8);
}

.global-black {
    font-family: SourceSansProRegular, Helvetica, sans-serif;
    @include font-weight(600);
    @include color($white);
    @include background-color($mu-black);
    width: 272px;
    @include padding(0, 10, 0, 10);
    @include text-align(center);
    &:hover {
        @include background-color(#474747);
        border-color: #474747;
    }
}

.clubs-number-info {
    .global-checkbox {
        @include pull-left;
    }
    .global-black {
        @include pull-right;
        @include margin-top(-8);
    }
    .global-label-text {
        @include font-size(16);
        @include padding-right(15);
    }
}

.order-processing-table {
    height: auto;
    tr {
        td {
            strong {
                @include padding-top(0);
            }
        }
    }
    .global-checkbox {
        @include display(inline-block);
        width: 24px;
    }
    .selection-inner-table {
        thead,
        tbody {
            th,
            td {
                &:nth-child(1) {
                    width: 220px;
                }
                &:nth-child(3) {
                    width: 45px;
                }
                &:nth-child(2),
                &:nth-child(4) {
                    width: 110px;
                }
                &:nth-child(5),
                &:nth-child(6) {
                    width: 60px;
                    @include text-align(center);
                }
                &:nth-child(7) {
                    width: 100px;
                    @include text-align(center);
                }
            }
        }
        tbody {
            height: auto;
            td {
                &:nth-child(5),
                &:nth-child(6),
                &:nth-child(7) {
                    @include text-align(center);
                }
            }
            tr.tickets-order-total {
                box-shadow: none;
                td {
                    &:nth-child(2),
                    &:nth-child(3) {
                        @include text-align(center);
                        @include font-weight(600);
                    }
                    &:nth-child(1) {
                        width: 454px;
                    }
                    &:nth-child(4) {
                        width: 60px;
                    }
                }
            }
        }
    }
}

.payement-icon-wrap {
    .payement-icon {
        @include margin-top(10);
    }
    .payement-icon {
        li {
            @include display(inline-block);
            @include margin-right(5);
        }
    }
}

.ticket-allocation-table.ticket-details-table .selection-inner-table tbody {
    height: auto;
}

.match-ticket-progressbar {
    @include padding(0, 12, 50, 13);
    p {
        font-family: SourceSansProRegular, Helvetica, sans-serif;
        @include font-size(13);
        @include line-height(25, px);
        @include color(#6d6d6d);
        @include margin-top(15);
        a {
            @include color(#6d6d6d);
            @include font-size(13);
            @include line-height(25, px);
            font-family: SourceSansProRegular, Helvetica, sans-serif;
            border-bottom: 1px solid #6d6d6d;
        }
    }
}

.progress-match-ticket {
    @include font-size(0);
    li {
        @include display(inline-block);
        max-width: 250px;
        width: 35%;
        @include position(relative);
        vertical-align: top;
        &:after {
            width: 100%;
            @include position(absolute);
            @include top(16);
            height: 3px;
            background: #f4f4f4;
            content: "";
            @include left(-100, percent);
        }
        &:first-child:after {
            display: none;
        }
        &.active,
        &.completed {
            &:after {
                background: #494a50;
            }
            .progress-circle {
                background: #c70101;
                @include color(#ffffff);
            }
        }
        &.completed .progress-circle {
            background: url(/assets/secretary/check.png) center center no-repeat #ffffff;
            border: solid 1px #494a50;
            @include font-size(0);
        }
        &:last-child {
            width: 30%;
        }
    }
}

.progress-circle,
.progress-text {
    @include position(relative);
    z-index: 1;
    font-family: SourceSansProRegular, Helvetica, sans-serif;
}

.progress-circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #f4f4f4;
    @include color(#757575);
    @include font-size(16);
    @inlcude font-weight(600);
    @include display(block);
    @include text-align(center);
    @include padding(9);
}

.progress-text {
    @include font-size(14);
    @include color(#757575);
    text-transform: capitalize;
    @include display(block);
    width: 100px;
    @include margin-top(7);
}

.read-more-content {
    ul {
        @include font-size(0);
        li {
            font-family: SourceSansProRegular, Helvetica, sans-serif;
            @include font-size(13);
            @include line-height(25, px);
            @include color(#6d6d6d);
            @include display(inline-block);
            width: 45%;
        }
    }
    p {
        @include margin-top(0);
    }
}



/*code for responsive css*/

@media screen and (max-width: 767px) {
    .secretary-login-head {
        @include padding(23, 20, 23, 20);
        @include font-size(28);
    }
    .secretary-container {
        .tickets__subnav {
            ul {
                width: 730px;
            }
        }
    }
    .form-body {
        @include padding(35, 15, 35, 15);
        min-height: 540px;
        @include background-color($white);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }
    .forget-password {
        width: 40%;
    }
    .global-checkbox {
        width: 53%;
        margin: 0 !important;
    }
    .secretary-banner {
        height: 250px;
    }
    .match_ticket_application {
        @include padding(30, 0, 30, 0);
    }
    .club-details {
        h2 {
            @include font-size(38);
        }
    }
    .left-details,
    .right-details {
        vertical-align: top;
    }
    .left-details {
        width: 48%;
    }
    .right-details {
        width: 50%;
        @include padding-left(10);
    }
    .mg-vr-60 {
        @include margin(30, 0, 30, 0);
    }
    .allocation-ticket {
        h3 {
            @include font-size(28);
        }
    }
    .responsive-table {
        thead {
            tr {
                th {
                    display: none;
                }
            }
        }
        tbody {
            tr {
                td {
                    @include display(block);
                    @include padding(8, 0, 4, 120);
                    @include position(relative);
                    vertical-align: top;
                    width: 100% !important;
                    &:last-child {
                        @include padding-bottom(10);
                    }
                    &:first-child {
                        @include padding-bottom(0);
                    }
                    &:before {
                        content: attr(data-th)": ";
                        @include display(inline-block);
                        @include position(absolute);
                        @include left(0);
                        @include top(8);
                    }
                    span,
                    strong {
                        @include display(inline-block);
                    }
                    span.match-info {
                        @include padding-bottom(0);
                    }
                }
            }
        }
    }
    .match-selected-left,
    .match-selected-right {
        width: 100%;
    }
    .match-selected-left {
        border-right: 0;
        border-bottom: 1px solid rgba(26, 26, 26, 0.2);
        @include padding-bottom(20);
        .left-details {
            width: 48%;
        }
        .right-details {
            width: 50%;
        }
    }
    .match-selected-right {
        @include text-align(center);
        @include padding-top(20);
        @include padding-left(0);
    }
    .club-details {
        h2.h2access {
            @include font-size(30);
        }
        .h3 {
            @include font-size(30);
        }
        .supporters-club {
            @include font-size(26);
        }
    }
    .search-selection-field {
        .form-group {
            width: 53%;
        }
    }
    .search-box {
        @include margin-right(15);
    }
    .search-selection-field {
        .select-box {
            width: 40%;
        }
        .form-group.go-button {
            @include margin-left(5);
        }
    }
    .selection-inner-table {
        width: 670px;
        tbody {
            @include overflow(scroll);
            -webkit-overflow-scrolling: touch !important;
        }
    }
    .member-selection-table {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch !important;
    }
    .homepage-link {
        .back-home-link {
            width: 115px;
        }
    }
    .global-red {
        width: 155px;
        @include padding-right(45);
        background-position: 90% 18px;
    }
    .thank-you-page {
        .homepage-link {
            .back-home-link {
                width: 180px;
            }
        }
    }
    /*Ticket admin page*/
    .ticket-admin-panel {
        h2 {
            @include font-size(30);
        }
    }
    .tabing-menu-list {
        @include padding(12, 0, 12, 0);
        li {
            @include padding(0, 10, 0, 10);
        }
    }
    .clubs-number-info {
        .global-checkbox {
            @include pull-none;
            width: 100%;
        }
        .global-black {
            @include pull-none;
            @include margin-top(15);
        }
        .global-label {
            @include text-align(left);
        }
    }
    .read-more-content {
        ul {
            li {
                width: 100%;
                vertical-align: top;
            }
        }
    }
    .applied-selected-match-data {
        .match-selected-right {
            @include padding-bottom(15);
            @include padding-top(15);
            border-bottom: 1px solid rgba(26, 26, 26, .2);
        }
    }
    .applied-match-info {
        @include padding-top(0);
    }
    #gotohomemanagement{
        width: 168px;
        position: absolute;
        top: 168px;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .secretary-banner {
        height: 360px;
    }
}

@media (max-width:1024px) {
    .selection-inner-table {
        thead {
            width: 100%;
        }
    }
}

@media (max-width: 479px) {
    .inline-input {
        fieldset {
            width: 100%;
            &:first-child {
                @include margin-right(0);
            }
        }
    }
    .ticket-application-form {
        .inline-input {
            @include margin-top(0);
        }
    }
    .card-valid-end-details {
        .inline-select-field {
            width: 100%;
            &:first-child {
                @include margin-right(0);
            }
        }
    }
    .progress-text {
        @include font-size(10);
    }
}



/*srikant start */

.full-width {
    width: 100%;
    @include display(inline-block);
}

.width-auto {
    width: auto;
    @include display(inline-block);
}

.common-input.calender-box {
    input {
        @include px-to-rem(height, 38);
        border-bottom: 1px solid rgba(26, 26, 26, 0.5);
        @include padding(0, 30, 0, 0);
    }
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    background: $mu-red;
    border: 1px solid $mu-red;
}

.ui-datepicker {
    .ui-datepicker-title {
        select {
            height: auto;
            @include background-color($white);
            border: solid 0px $white;
            font-family: SourceSansProRegular, Helvetica, sans-serif;
            @include font-size(48);
            @include font-weight(normal);
            @include font-style(normal);
            font-stretch: normal;
            @include line-height(52, px);
            @include letter-spacing(0);
            color: $mu-black;
        }
    }
    select.ui-datepicker-month,
    select.ui-datepicker-year {
        width: auto;
    }
    table {
        th {
            span {
                color: $mu-black;
                font-family: SourceSansProRegular, Helvetica, sans-serif;
                @include font-size(13);
            }
        }
    }
    .ui-datepicker-header {
        @include margin-bottom(10);
    }
    td {
        span,
        a {
            @include text-align(center);
        }
    }
}

.ui-widget-header {
    @include background-color($white);
    border: 0px solid $white;
}

table.ui-datepicker-calendar {
    tbody {
        border: 1px solid #c5c5c5;
    }
}

table.ui-datepicker-calendar {
    thead {
        background-color: $white-two;
        border: solid 1px #bfbfbf;
        font-family: SourceSansProRegular, Helvetica, sans-serif;
        @include font-size(13);
        @include font-weight(normal);
        @include font-style(normal);
        font-stretch: normal;
        @include line-height(17, px);
        @include letter-spacing(0);
        color: $mu-black;
    }
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:active {
    @include background-color($white);
    border: 1px solid $white;
    @include font-weight(bold);
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    background: $mu-red;
    @include color($white);
    border: 1px solid $mu-red !important;
}

html .ui-button.ui-state-disabled {
    &:hover {
        background: $mu-red;
        @include color($white);
        border: 1px solid $mu-red !important;
    }
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    color: $dark-blog;
}

ul.product-list {
    @include display(inline-block);
    width: 100%;
    li {
        @include display(inline-block);
        width: auto;
        @include padding(0, 10, 0, 10);
        background: url(/assets/images/product-list-bg.jpg) right 3px no-repeat;
        &:last-of-type {
            background: none;
        }
    }
}

.ticket-allocation-table {
    .selection-inner-table.Process-table {
        tbody,
        thead {
            td,
            th {
                @include text-align(left);
                @include font-weight(normal);
                color: $mu-black;
                font-family: SourceSansProRegular, Helvetica, sans-serif;
                @include font-size(16);
                @include line-height(20, px);
                &:nth-child(1),
                &:nth-child(2) {
                    width: 144px;
                }
                &:nth-child(3) {
                    width: 100px;
                }
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6),
                &:nth-child(7) {
                    width: 73px;
                }
            }
            strong {
                @include display(inline-block);
                width: auto;
            }
        }
        tr {
            &:nth-child(odd) {
                box-shadow: none;
            }
        }
        thead {
            th {
                @include font-weight(bold);
            }
        }
        tbody {
            height: 620px;
            overflow: auto;
            tr {
                &:nth-child(even) {
                    td {
                        width: 100% !important;
                        @include padding-top(0);
                    }
                }
            }
        }
    }
}

.back-home-link.print-mng {
    @include margin-top(10);
}

.border-mng {
    a {
        border-bottom: none !important;
        &:hover {
            border-bottom: none !important;
        }
    }
}



/*srikant end */


/*upload file start */

.inputBtnSection {
    @include display(inline-block);
    vertical-align: top;
    @include font-size(0);
    font-family: Verdana, Geneva, sans-serif;
}

.disableInputField {
    @include display(inline-block);
    vertical-align: top;
    @include px-to-rem(height, 26);
    margin: 0;
    @include font-size(14);
    @include padding(0, 2, 0, 2);
    @include pull-left;
    width: 215px;
    @include background-color($white);
    border: solid 1px #dddddd;
}

.fileUpload {
    @include position(relative);
    @include overflow(hidden);
    @include display(inline-block);
    vertical-align: top;
    width: auto;
    width: 100px;
    border: solid 1px #efefef;
    background: #f1f1f1;
    @include margin-left(20);
    @include padding(2, 0, 2, 0);
    @include text-align(center);
}

.uploadBtn {
    @include display(inline-block);
    vertical-align: top;
    background: #f1f1f1;
    @include font-size(14);
    @include padding(0, 4, 0, 4);
    @include px-to-rem(height, 22);
    @include line-height(22, px);
    color: $mu-black;
    font-family: SourceSansProRegular, Helvetica, sans-serif;
    @include font-style(italic);
}

.fileUpload {
    input.upload {
        @include position(absolute);
        @include top(0);
        @include right(0);
        margin: 0;
        @include padding(0, 0, 0, 0);
        @include cursor(pointer);
        opacity: 0;
        filter: alpha(opacity=0);
        font-family: SourceSansProRegular, Helvetica, sans-serif;
        @include font-size(14);
        color: $mu-black;
    }
}

.margin-left-8 {
    @include margin-left(8, important);
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    background: $white;
    border-color: $white;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

[disabled] {
    cursor: text !important;
}

select#filterKey {
    option {
        //display: none !important;
        &:nth-child(2) {
            display: block !important;
        }
        &:nth-child(3) {
            display: block !important;
        }
    }
}

select[disabled] {
    cursor: not-allowed;
    opacity: 0.3;
}

select.select-global-field:disabled {
    background: url(/assets/images/icons/triangle-down.png) 96% 17px no-repeat;
    background-color: #fff;
}

.select-global-field {
    cursor: pointer;
}

input:focus:invalid:focus {
    border-bottom-color: #d14;
}

textarea:focus:invalid:focus {
    border-color: #d14;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input::-ms-clear {
    display: none;
}

select::-ms-expand {
    display: none;
}

.loader-container,
.loader-wrapper {
    background: #fff;
    opacity: .95;
}
.tmpls-container a:active.non-keyboard-outline,.tmpls-container a:focus.non-keyboard-outline,
.match-ticket-progressbar p a:active.non-keyboard-outline,.match-ticket-progressbar p a:focus.non-keyboard-outline,
.allocation-ticket p a:active.non-keyboard-outline,
.allocation-ticket p a:focus.non-keyboard-outline {
    @include display(inline-block);
}
.match_ticket_application {
    table {
        tr:active.non-keyboard-outline,
        tr:focus.non-keyboard-outline {
            border: 2px solid #0079c1;
        }
    }
}

.table-deadline{ max-height: 340px; overflow-y: auto; } 
.responsive-table thead,.responsive-table tbody{display: table-row-group !important;}
.responsive-table tr{display: table-row !important;}
.responsive-table thead th,.responsive-table tbody td{ display: table-cell !important; }
.selection-inner-table.mng tr{display: table-row !important;}
.selection-inner-table.mng tbody,.selection-inner-table.mng thead{display: table-row-group !important;}
.selection-inner-table.mng tbody td,.selection-inner-table.mng thead th{ display: table-cell !important; word-break: break-word }
.member-selection-table.mng{ max-height: 340px; overflow-y: auto; } 
.applied-selected-match-data
    {
        visibility: hidden;
        width: 0;
        height: 0;
        overflow:hidden;
    }
    .applied-selected-match-data.open
    {
        visibility: visible;
        width: auto;
        height: auto;
        overflow:auto;
    }
.previous-submission-wrap .selection-inner-table tbody td,
.applied-match-info .selection-inner-table tbody td,
.left-details, .right-details,
.selection-inner-table.mng tbody td,
.selection-inner-table.mng thead th,
.members-management-table .selection-inner-table tbody td,
.members-management-table .selection-inner-table thead th{
    word-break: break-word;
}