.hero {
    &__accordian {
        @include position(relative);

        &__intro {
            @include text-align(center);
            @include position(absolute);
            @include percentage-value(width, 100);
            @include bottom(80);
            @include z-index(99);
            .contact-us__block {
                @include span(6 of 6);
                @include pull-none;
                @include breakpoint($large) {
                    width: 80%;
                }
                @include breakpoint($xxlarge) {
                    width: 70%;
                }
            }
            .contact-us__control {
                @include bottom(-10, important);
            }
        }
        .home-hero {
            &__info {
                @include text-align(center);
            }
            &__title {
                color: $white;
                @extend %heading1;
                @include margin-bottom(0);
            }
            .red-btn-skew {
                @include margin-top(24);
                @include margin-bottom(12);
            }
        }
        .contact-us {

            &__control {
                color: $white;
                @include margin-top(20);
                @include position(absolute);
                @include percentage-value(width, 100);
                //@include bottom(15);
                @include bottom(38);
                @include z-index(999);
                @include pull-left;
                box-shadow: none;
                p {
                    color: $white;
                    @include margin-bottom(5);
                }
                &.view-less {
                    color: #1a1a1a;
                }
                i.tmpl-pluse-white {
                    @include margin-bottom(15);
                }
                p+i.tmpl-pluse-white {
                    @include margin-bottom(0);
                }
                @include breakpoint($small $max-xsmall) {
                    margin-right: -16px;
                    margin-left: -16px;
                }
                &.expand {
                    @include position(relative);
                    p {
                        display: none;
                    }
                }
            }
            &__block {
                @include margin-auto(0);
                @include padding-bottom(0);
                @include padding-top(0);
                
            }
        }
        &--content {
            @include display(none);
            @include position(relative);
            @include padding-bottom(0);
            width: 100%;
            @include margin-bottom(16);
            @include breakpoint($xxlarge) {
                @include margin-bottom(24);
            }
            @include margin-top(0);
            @include pull-left;
            .hero-intro {
                @include font-size(24);
                @include line-height(34, px);
                @include margin-bottom(20);
                @include secondry-light;
                color: #232323;
            }
            .hero-desc {
                @include font-size(20);
                @include line-height(30, px);
                @include secondry-light;
                word-break: break-word;
                p {
                    @include font-size(20);
                    @include line-height(30, px);
                    @include margin-bottom(20); 
                    @include secondry-light; 

                    &:first-child {
                        @include margin-bottom(20);
                    }
                    &:last-child {
                        @include margin-bottom(0);
                    }
                }
            }
            ul {
                @extend .list-disc;
            }
            .home-article-detail__video-panel {
                // .mu-item__info {
                //     bottom: 10px;
                // }
                .grid-7.ratio.portrait {
                    width: 60%;
                    padding-top: 56.25%;
                    margin: 0 auto;
                } // .mu-item__gradient {
                //     display: none;
                // }
            }
        }
        .view-less {
            @include bottom(0, important);
        }
    }
}

.align-center {
    @include text-align(center);
    @include margin(10, 0, 10, 0);
}

.tab {
    &-content {
        @extend %tab-content;
        .tab-pane {
            @include display(none);
            &.active {
                @include display(block);
            }
            p {
                @include margin-bottom(14);
                @include text-align(left);
            }
        }
    }
}
.tmpls-container{
    .hero__accordian {
        .home-hero.card-xl {
            @include breakpoint($small){
                @include margin-bottom(16);
                @include overflow(hidden);
            }
          
           //@extend %bottom-gutter;

        } 
    }
}

[data-module="navShowMoreContent"] {
    @include display(none);
    @include margin-top(32);
    @include breakpoint($small $max-xsmall){
        @include margin-top(16);
    }
}
.contact-us__block {
    h3 {
        @include breakpoint($small $max-xsmall){
            @include font-size(24);
            @include line-height(1.1);
        }
        
    } 
}

