.tpl-sign-post {
    @include background($white);
    height: auto;
    @include margin-bottom(32);
    // @include breakpoint($small $max-small) {
    //     &:last-child {
    //         @include margin-bottom(0);
    //     }
    // }
    // @include margin(16, 0, 16, 0);
    @include percentage-value(width, 100);
    @include breakpoint($medium) {
        // @include margin(12, 0, 12, 0);
        @include margin-bottom(24);
    }
    &.skin {
        // &-grey {
        //     @include background($mu-grey);
        // }
        &-white {
            @include background($white);
        }
    }
    .sign-post-tpl-common {
        @include margin(0);
        @include percentage-value(width, 100);
        @include percentage-value(height, 100);
        @include pull-none;
        @include padding(0);
        @include position(relative);
        .sign-post-image {
            @include aspect-ratio(16, 9);
            @include position(relative);
            img {
                @include percentage-value(width, 100);
                @include percentage-value(height, 100);
            }
        }
        h2 {
            @include font-size(32);
            @include line-height(32,px);
            @include pull-none;
            @include color($white);
            @include position(relative);
            @include margin-bottom(0,important);
            @include z-index(999);
            @include span(12 of 12 0);
            @include breakpoint($xlarge) {
                @include font-size(40);
                @include line-height(36,px);
            }
            @include breakpoint($xxlarge) {
                @include font-size(48);
                @include line-height(40,px);
            }
            &:before {
                @extend %title-border;
            }
        }
        .sign-post-desc {
            @include color($white);
            @include z-index(999);
            @include position(absolute);
            @include span(6 of 6 0);
            @include bottom(0);
            @include padding(16, 16, 16, 16);
            .sign-post-summary {
                @include display(none);
                @include font-size(20);
                @include line-height(30,px);
                @include pull-left;
                @include margin-top(12);
                @include secondry-light;
                @include breakpoint($xlarge) {
                    @include font-size(18);
                    @include line-height(26,px);
                }
                p {
                    @include margin-bottom(12);
                }
            }
            @include breakpoint($medium) {
                @include span(5 of 6 0);
                .sign-post-summary {
                    @include display(block);
                }
            }
            @include breakpoint($large) {
                @include padding(16, 24, 24, 24);
            }
        }
    }
    &.child {
        border-bottom: 1px solid rgba(204, 204, 204, .5);
        box-shadow: 0 0 0 0 #ccc;
        height: auto;
        @include pull-left;
        @include breakpoint($xsmall) {
            height: 100%;
        }
        .sign-post-tpl-common {
            h2 {
                @include position(absolute);
                @include bottom(18);
                @include left(0);
                @include margin-bottom(16);
                @include padding(0,24,0,24);
            }
            .sign-post-desc {
                @include padding(0,24,0,24);
                width: 100%;
                @include position(relative);
                height: auto;
                @include breakpoint($xsmall) {
                    @include position(initial);
                }
                @include breakpoint($xsmall $large) {
                    @include padding(0,0,0,0);
                }
                .sign-post-summary {
                    height: auto;
                    @include overflow(hidden);
                    @include display(block);
                    height: auto;
                    @include color(#232323);
                    @include margin-bottom(0);
                    @include breakpoint($xsmall) {
                        @include margin-bottom(36);
                    }
                }
            }
            .link-btn-white {
                @include margin(12,0,12,0);
                @include position(relative);
                @include bottom(0);
                @include left(0);
                @include breakpoint($xsmall) {
                    @include position(absolute);
                    @include padding(0, 24, 0, 24);
                }
                @include breakpoint($xsmall $large) {
                    @include padding(0,0,0,0);
                }
                span {
                    color: $mu-black;
                }
                .icon-cta-arrow {
                    @extend .icon-red-arrow;
                }
            }
        }
    }
    a:hover{
        .link-btn-white span{
            @include border-bottom(1, solid, $mu-red); 
        }
    }
}

.clear-all-section {
    @include clear(both);
}

.grid-12 {
    .tpl-sign-post {
        @include breakpoint($large) {
            .sign-post-tpl-common {
                h2 {
                    @include font-size(72);
                    @include line-height(0.8, multi);
                }
                .sign-post-desc {
                    .sign-post-summary {
                        height: auto !important;
                    }
                }
            }
        }
    }
}

.sign-post-image.card-xl .mu-item__gradient {
    @include display(block,important);
}

.container.main {
   > .sign-post-row {
    @include display(block);
   } 
}

.sign-post-row {
    @include display(table);
    height: 100%;
    width: 100%;
    @include margin-top(16);
       @include margin-bottom(16);
    @include breakpoint($xxlarge){
        @include margin-top(24);
           @include margin-bottom(24);
    }
    .grid-6 {
        @include display(table-cell);
        height: auto;
        @include breakpoint($xsmall) {
            height: 100%;
        }
    }
}

.sign-post__hero {
    @include pull-none;
    @include margin-auto(20);
    @include span(10 of 12 0);        
    @include pull-none;
    @include breakpoint($small $max-xsmall) {
        @include span(6 of 6 0);
    }
    .mu-item__gradient {
        @extend %hero-gradient;
    }
    .sign-post-tpl-common {
        .sign-post-image {
            @include aspect-ratio(3, 4);
            @include breakpoint($xsmall) {
                @include aspect-ratio(16, 9);
            }
            @include breakpoint($xlarge) {
                @include aspect-ratio(2.35, 1);
            }
            height: auto !important;
        }
    }
    .sign-post-desc {
        h2 {
            @include word-wrap;
            @include text-truncate-lines(2, 40, 0.9);
            @include span(6 of 6 0);
            @include breakpoint($medium) {
                @include text-truncate-lines(2, 48, 0.85);
            }
            @include breakpoint($xlarge) {
                @include text-truncate-lines(2, 72, 0.9);
            }
        }
        .sign-post-summary {
            @include display(block,important);
            @include margin-top(4);
        }
        .link-btn-white {
            @include margin(8, 0, 0, 0);
        }
    }
}

.sign-post-grid {
    width: 100%;
    @include display(inline-block);
    @include margin-top(16);
    @include breakpoint($xxlarge){
        @include margin-top(24);
    }
    .tpl-sign-post.child .sign-post-tpl-common .sign-post-desc {
        @include position(relative);
        height: auto;
        @include breakpoint($xsmall) {
            height: 227px;
        }
        @include breakpoint($medium) {
            height: 140px;
        }
        @include breakpoint($large) {
            height: 157px;
        }
    }
    section {
        @include span(6 of 6);
        @include px-to-rem(min-height, 1);
        @include breakpoint($xsmall) {
            @include span(6 of 12);
        }
    }
}
