.match-item {
    &__info {
        &--team {
            &.team-vs {
                transform: skew(10deg);
                span {
                    -webkit-transform: translateY(-50%) skew(-10deg);
                    -ms-transform: translateY(-50%) skew(-10deg);
                    transform: translateY(-50%) skew(-10deg);
                }
            }
            img {
                transform: translate(50%,-50%);
                -webkit-transform: translate(50%,-50%);
                -ms-transform: translate(50%,-50%);
            }
        }
    }
    &__cta {
        transform: skew(10deg);
    }
}
.carousal.match-carousal {
    .timer {
        transform: translate(50%, 0);
    }
}
.carousal {
    .slider-next,
    .slider-prev {
        transform: scaleX(-1);
    }
}
