/*======== breakdown number  ====== */

.stats-card {
    &.brekdown-number {

        @include px-to-rem(min-height, 180);
        @include position(relative);
        @include padding-left(0);
        @include padding-right(0);
        @include overflow(hidden);
        .brekdown-number {
            &__details {
                @include pull-left;
                @include percentage-value(width, 100);
                &__left {
                    @include pull-left;
                    @include percentage-value(width, 100);
                    @include breakpoint($medium) {
                        @include percentage-value(width, 55);
                    }
                    @include breakpoint($small $max-xsmall){
                        @include margin-bottom(25);
                    }
                    .players__notification {
                        width: auto;
                        @include breakpoint($medium) {
                            @include px-to-rem(width, 125);
                        }
                        @include breakpoint($large $max-large) {
                           // @include px-to-rem(width, 120);
                            @include px-to-rem(width, 94);
                        }

                        h3 {
                            @extend %match-player_heading;
                            @include color($mu-black);
                            @include margin-top(5);
                            @include breakpoint($medium) {
                                @include pull-right(important);
                            }

                            clear: both;
                        }

                        .player-img {
                            @include margin-right(0);
                            @include breakpoint($small $max-small) {
                                @include pull-left;
                                @include margin-top(20);
                            }
                            @include breakpoint($medium) {
                                @include pull-right(important);
                            }
                            @extend %player-img-large;
                            &.player-image {
                                @include margin-right(0);
                            }
                            &.team-image {
                                // @include pull-none(important);
                                // @include margin-right(0);
                                // @include text-align(center); 
                                // +h3 {
                                //     @include pull-none(important);
                                //     @include text-align(center);
                                // }
                            }
                        }
                    }

                    .player__detail-chart {
                        @include pull-right;
                        @include breakpoint($small $max-medium) {
                            @include margin-top(-15);
                        }
                        // @include breakpoint($large) {
                        //     @include margin-top(0);
                        // }
                        @include margin-top(-30);
                        @include position(relative);
                        .chart-text {
                               @include position(absolute);
                                transform: translate(-50%,-50%);
                                @include percentage-value(top, 50);
                                @include percentage-value(left, 50);
                                @include percentage-value(width, 75);
                                @include margin-top(4);
                            // @include px-to-rem(top, 40);
                            // @include px-to-rem(width, 100);
                            // @include margin-left(20);

                            .text-score {
                                @include tertiary-regular;
                                @include font-size(32);
                                @include line-height(30, px);
                                @include color($mu-black);
                                @include text-align(center);
                            }
                            .total {
                                @include tertiary-semibold;
                                @include font-size(14);
                                @include line-height(16, px);
                                @include text-transform(uppercase);
                                @include text-align(center);
                                @include color($mu-black);
                            }
                        }
                    }

                    
                }
                &__right {
                    @include percentage-value(width, 100);
                    @include breakpoint($medium) {
                        @include percentage-value(width, 40);
                    }
                    @include pull-right;
                    .brekdown-number__info {
                        @include margin-bottom(8);
                        label,span {
                            @include margin(0, 0, 0, 0);
                            @include padding(0, 0, 0, 0);
                            @include display(inline-block);
                            @include text-transform(uppercase);
                            @include color($mu-black);
                            @include text-align(left);
                            width: auto;
                            @extend %match-player_result-title;
                            &:first-child {
                                @include pull-left;
                                @include text-align(left);
                                //@include margin-top(5);
                            }
                            &:nth-child(2) {
                                @include pull-right;
                                @include text-align(right);
                                @include color($mu-black);
                                @extend %match-player_result-heading;


                            }
                            .line-chart {
                                @include px-to-rem(height, 4);
                            }
                        }
                    }
                }
                &.player-vs-team {
                    .brekdown-number__details__right {
                        .brekdown-number__info{
                            label,span {
                                &:nth-child(2){
                                    @include breakpoint($small $max-xsmall){
                                        @include px-to-rem(min-width,80);
                                        @include text-align(center);
                                    }
                                }
                            }
                        }
                    }
                    .brekdown-number__details__left {
                          @include position(relative);
                          @include margin-bottom(0);
                          .players__notification {
                            &.team-section {
                                @include pull-right(important);
                                .player-image {
                                    @include pull-right(important);
                                    h3{
                                         @include text-align(right);
                                         @include percentage-value(width,100);
                                    }
                                   
                                }
                            }    
                        }                        
                        .vs {
                        @extend %vs;
                        @include position(absolute);
                        @include left(50,percent);
                        @include top(20);
                        @include breakpoint($small $max-xsmall){
                            @include left(44,percent);
                            @include top(30,percent);
                        }
                      }
                    }
                    .brekdown-number__details__right {
                        ul {
                            li {
                                @include margin-bottom(0);
                                @include padding-top(7);
                                @include padding-bottom(7);
                                @include border-bottom(1,solid,$chart-bg);
                                label,span {
                                    &:last-child {
                                        @include breakpoint($small $max-xsmall){
                                            @include padding-right(30);
                                        }
                                       
                                    }
                                }
                            }
                        }
                    }
                }
                
            }
            &__info {
                @include position(relative);
                @include percentage-value(width, 100);
                @include pull-left;
            }
        }
        .stats-card__info {
            @include padding-right(20);
            @include breakpoint($small $max-medium) {
                @include padding-left(20);
                @include padding-right(20);
            }
            &__left {}
            &__right {
                .chart-area {
                    @include pull-left;
                    @include percentage-value(width, 100);
                    @include breakpoint($xlarge) {
                        @include percentage-value(padding-right, 5);
                        @include percentage-value(padding-left, 1);
                    }

                    @include margin-left(0);
                    @include margin-right(0);
                }
            }
        }
        .statsbar {
            @include background-color($white);
            @include position(relative);
            @include breakpoint($small $max-medium) {
                @include padding-left(20);
                @include padding-right(20);
            }
        }
    }
}


.grid-3,
.grid-4 {
    .stats-card {
        &.brekdown-percentage {
            .brekdown-percentage {
                &__details {
                    &__left {
                        @include percentage-value(width, 100);

                        .players__notification {
                            width: auto;
                            .player-img {
                                @include pull-left(important);
                                @extend %player-img-large;
                            }
                            h3 {
                                @include pull-none(important);
                                @include percentage-value(width, 100);
                                @include text-align(center);
                            }
                        }
                    }
                    &__right {
                        @include percentage-value(width, 100);
                    }
                }
            }
        }
    }
}